<ion-view view-title="List Booking">
  <ion-content>
		<!-- <div ng-bind-html="lists"></div> -->
		
		<ion-refresher
		    pulling-text="Tarik untuk Refresh..."
		    on-refresh="doRefresh()">
		</ion-refresher>
	
		<div class="list">

		  <div class="item" ng-repeat="list in lists">
		    
		    <div style="font-size: 25px; float:left">
		    	<b>{{list.id_kelas}}</b><br/>
		    	<span style="font-size: 15px; line-height: 0px;">{{list.id_jam}}<br>{{list.tanggal}}</span>
		    </div>
		    <div style="posistion:absolute; float:right">
			    <button class="button button-balanced" ng-click='edit_booking(list.id_kelas, list.id_jam, list.tanggal)'>
			      <i class="icon ion-edit"></i>
			    </button>
			    <button class="button button-assertive" ng-click='del_booking(list.id_kelas, list.id_jam, list.tanggal)'>
			      <i class="icon ion-close-round"></i>
			    </button>
		    </div>
		  </div>

		</div>
  
  </ion-content>
</ion-view>

<!-- list.kelas, list.id_jam, list.tanggal 
<button class="button button-full button-balanced" style="height:100px;">{{kelas.title}}</button> -->