<ion-view view-title="{{nama_chatId}}" class="chats-view">
  <ion-content has-subheader="false" delegate-handle="chatScroll">
    <div class="chat-content">
      <div class="chat-msg-items">
        <div class="chat-item"
          ng-repeat="message in messages track by $index"
          ng-class="{true: 'me', false: 'you'}[nama_chatId != message.nama]">
          <!-- <div class="time">
            11: 20
          </div> -->
            <div class="user-info">
              <a href="javascript:;" class="avatar">
                <img ng-src="" width="100%">
              </a>
              <p class="name">{{message.waktu | date: 'yyyy-MM-dd'}}</p>
              <p class="name">{{ message.nama }}2</p>
            </div>
            <div class="msg-panel">
              <div class="msg-text">
                {{ message.pesan }}
              </div>
              <div class="triangle-arrow"></div>
              <div class="triangle-arrow2"></div>
            </div>

        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach>
    <form name="chatForm">
      <div class="chat-input">
        <div class="input-area">
          <input type="text" ng-model="newMessage" placeholder="Type in your message..." required>
          <button class="send-msg-btn"
            ng-disabled="!chatForm.$valid"
            ng-click="send(newMessage)"> Send
          </button>
        </div>
      </div>
    </form>
  </ion-footer-bar>
  
</ion-view>
